<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>ESP32 Water Metter</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet" />
	<script src="scripts/axios.min.js"></script>
	<script src="scripts/vue.js"></script>
	<script id="loader-html" type="text/x-template">
		<div claass="text-center">
			<div class="loader">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
					<rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
						<animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="1s" repeatCount="indefinite" />
						<animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="1s" repeatCount="indefinite" />
						<animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="1s" repeatCount="indefinite" />
					</rect>
					<rect x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
						<animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="1s" repeatCount="indefinite" />
						<animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="1s" repeatCount="indefinite" />
						<animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="1s" repeatCount="indefinite" />
					</rect>
					<rect x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
						<animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="1s" repeatCount="indefinite" />
						<animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="1s" repeatCount="indefinite" />
						<animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="1s" repeatCount="indefinite" />
					</rect>
				</svg>
			</div>
		</div>
	</script>
	<script id="settings-wifi-login-html" type="text/x-template">
		<div>
			<div class="modal show d-block" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">{{currentWifi.ssid}}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeModal()">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="exampleInputPassword1">Пароль</label>
								<input type="text" v-model="password" class="form-control">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeModal()">Отмена</button>
							<button type="button" class="btn btn-primary" @click="connect()" :disabled="!password">Подключиться</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-backdrop fade show d-block"></div>
		</div>
	</script>
	<script id="settings-page-html" type="text/x-template">
		<div class="row justify-content-md-center">
			<div class="col-sm-6">
				<div class="clearfix">
					<button type="button" class="btn btn-danger float-right" @click="resetSettings()">Сбросить</button>
					<h3 class="mb-4">Настройки</h3>
				</div>
				<ul class="nav nav-tabs mb-3">
					<li class="nav-item">
						<a class="nav-link" :class="{active: activeTab == 0}" @click.prevent="selectSettinsTab(0)" href="#">Счетчики</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :class="{active: activeTab == 1}" @click.prevent="selectSettinsTab(1)" href="#">WIFI</a>
					</li>
				</ul>
				<settings-counters v-if="activeTab == 0"></settings-counters>
				<settings-wifi v-if="activeTab == 1"></settings-wifi>
			</div>
		</div>
	</script>
	<script id="settings-wifi-html" type="text/x-template">
		<div>
			<h5>Текущая сеть</h5>
			<loader v-if="!current && loading"></loader>
			<div class="list-group mb-3" v-if="current">
				<a
					href="#"
					class="list-group-item list-group-item-action"
				>
					<img src="images/wifi-1.svg" height="16px" v-if="current.rssi &lt; -90">
					<img src="images/wifi-2.svg" height="16px" v-if="current.rssi &gt;= -90 && current.rssi &lt; -75">
					<img src="images/wifi-3.svg" height="16px" v-if="current.rssi &gt;= -75 && current.rssi &lt; -67">
					<img src="images/wifi-4.svg" height="16px" v-if="current.rssi &gt;= -67">
					<b>{{current.ssid}}</b>
					<span v-if="current.open" class="tex-muted">(open)</span>
				</a>
			</div>
			<h5>Доступные сети</h5>
			<loader v-if="loading"></loader>
			<div class="list-group">
				<a
					href="#"
					class="list-group-item list-group-item-action"
					v-for="wifi in wifis"
					@click.stop="openPasskeyForm(wifi)"
				>
					<img src="images/wifi-1.svg" height="16px" v-if="wifi.rssi &lt; -80">
					<img src="images/wifi-2.svg" height="16px" v-if="wifi.rssi &gt;= -80 && wifi.rssi &lt; -70">
					<img src="images/wifi-3.svg" height="16px" v-if="wifi.rssi &gt;= -70 && wifi.rssi &lt; -67">
					<img src="images/wifi-4.svg" height="16px" v-if="wifi.rssi &gt;= -67">
					{{wifi.ssid}}
					<span v-if="wifi.open" class="tex-muted">(open)</span>
				</a>
			</div>
			<settings-wifi-login v-if="enterPasswordOpen" :current-wifi="currentWifi" @close="closePasskeyForm(true)" @dismiss="closePasskeyForm(false)"></settings-wifi-login>
		</div>
	</script>
	<script id="settings-counters-html" type="text/x-template">
		<div>
			<h5>Текущие значения</h5>
			<div class="form-group">
				<label for="value1field">Горячая вода (л)</label>
				<input type="text" id="value1field" v-model="value1" class="form-control">
				<div>
					<label for="value1field">Объем воды за полный импульс (л)</label>	
					<input type="text" id="tickValue1field" v-model="tickValue1" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="value2field">Холодная вода (л)</label>
				<input type="text" id="value2field" v-model="value2" class="form-control">
				<div>
					<label for="value1field">Объем воды за полный импульс (л)</label>	
					<input type="text" id="tickValue2field" v-model="tickValue2" class="form-control">
				</div>
			</div>
			<button type="button" class="btn btn-primary" @click="saveValues()">Сохранить</button>
		</div>
	</script>
	<script id="counters-page-html" type="text/x-template">
		<div>
			<h3 class="mb-4 text-center">Текущие значения</h3>
			<div class="row">
				<div class="col col-12 col-md-6 text-center">
					<h4 class="mb-3">Горячая</h4>
					<p class="counter"><span v-for="val1_i in value1">{{val1_i}}</span>&nbsp;.&nbsp;<span class="text-danger" v-for="dec1_i in decimals1">{{dec1_i}}</span></p>
				</div>
				<div class="col col-12 col-md-6 text-center">
					<h4 class="mb-3">Холодная</h4>
					<p class="counter"><span v-for="val2_i in value2">{{val2_i}}</span>&nbsp;.&nbsp;<span class="text-danger" v-for="dec2_i in decimals2">{{dec2_i}}</span></p>
				</div>
			</div>
		</div>
	</script>
</head>
<body>
	<div id="app">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">
				<img src="images/icon.svg" width="30" height="30" class="d-inline-block align-top"
					alt="">
				ESP32 Water Metter 
			</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				@click="toggleMenu()"
				:class="{ collapsed: !menuVisible }"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" :class="{ show: menuVisible }" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item" :class="{active: page == 0}">
						<a class="nav-link" href="#" @click.prevent="openPage(0)">Мониторинг</a>
					</li>
					<li class="nav-item" :class="{active: page == 1}">
						<a class="nav-link" href="#" @click.prevent="openPage(1)">Настройки</a>
					</li>
				</ul>
			</nav>
		</nav>

		<main class="container py-5">
			<counters-page v-if="page == 0"></counters-page>
			<settings-page v-if="page == 1"></settings-page>
		</main>
	</div>
	<script src="scripts/app.js"></script>
</body>

</html>