.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
.loader svg path,
.loader svg rect{
  fill: #FF6700;
}

.counter * {
	font-size: 3rem;
	font-weight: bold;
	border: 1px black solid;
	display: inline-block;
	vertical-align: baseline;
	padding: 0 4px;
}